appdaemon/
blueprints/
custom_components/
esphome/
image/
node-red/
room_assistant/
netdaemon/
scrypted/
themes/
tts/
www/
zigbee2mqtt/
.storage/
*.py*
*.log*
*.xml
*.json
*.conf
*.bk
*.txt
*.db
*.js
*.css
secrets.*
secrets_original.yaml
.DS_Store
